@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #C4E5EE;
  margin: 0;
  padding: 0;
}

main {}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  background: linear-gradient(90deg, #FFFFFF, #E3FDF4);
  border-radius: 60px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-top: 65px;
  box-shadow: 10px 15px 45px rgba(0, 0, 0, 0.397);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  color: #584840;
}

.info h1 {
  font-size: 45px;
  font-weight: 600;
  color: #665247;
}

.info p {
  font-size: 10px;
  line-height: 15px;
}

.info-text {
  gap: 10px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  margin-top: 25px;
  background-color: white;
  color: #665247;
  text-transform: uppercase;
  padding: 15px 40px;
  border: 1px solid rgba(0, 0, 0, 0.3490196078);
  border-radius: 20px;
  font-weight: 700;
  transition-duration: 500ms;
}

button:hover {
  background-color: rgb(240, 240, 240);
}

.jungle {
  margin-bottom: -95px;
}

.bottom {
  position: relative;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
}

.headimg {
  width: 120%;
  margin-top: -150px;
}

.header {
  background: linear-gradient(180deg, rgba(87, 136, 107, 0), #57A598, #57A598, #472B37, #472B37, #472B37, #472B37, #472B37, #472B37);
  padding:15px;
  border-radius: 0px 0px 25px 25px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.header-nav-item {
  z-index: 111;
  padding: 15px 0px;
}

.header-nav-item a {
  color: white;
  background: linear-gradient(180deg, rgba(87, 165, 152, 0.4196078431), rgba(88, 57, 65, 0.6705882353), #583941);
  z-index: 111;
  background-color: #583941;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.397);
  transition-duration: 500ms;
}

.header-nav-item a:hover {
  background-color: #835661;
}

@media (max-width: 1024px) {
  .content {
    max-width: 750px;
  }

  button {

  }
}

@media (max-width: 768px) {
  .content {
    max-width: 425px;
  }

  .header {
    padding: 20px;
  }

  .header-nav {
    margin-bottom: -5px;
    font-size: 15px;
    gap: 5px;
  }

  .header-nav-item {
    transform: translateY(15px);
  }

  .header-nav-item a {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 8px;
  }

  .headimg {
    margin-top: -90px;
  }

 .info-text p {
   padding: 0 15px;
 }

 button{
  font-size: 15px;
  padding: 10px 25px;
  margin-top: 20px;
 }

}

@media (max-width: 530px) {
  .content {
    max-width: 375px;
  }

  .header {
    margin-top: 10px;
  }

  .headimg {
    margin-top: -70px;
  }

  .info-text p{
    padding: 0 15px;
  }

  .header-nav {
  font-size: 12px;
  gap: 5px;
  }

     button {
      margin-top: 5px;
       font-size: 10px;
       padding: 5px 15px;
     }

  .header-nav-item a {
  padding: 5px 13px;
  font-size: 10px;
  border-radius: 5px;
  }

}


@media (max-width: 426px) {
  .content {
    max-width: 320px;
  }

  .headimg {
    margin-top: -65px;
  }

  .info-text p {
    padding: 0 15px;
  }

  
  .header-nav {
  font-size: 10px;
  gap: 3px;
  }  
  
  .header-nav-item a {
  padding: 5px 10px;
  }

  button {
  margin-top: 5px;
  font-size: 10px;
  padding: 3px 10px;
  }

}

@media (max-width: 375px) {
  .content {
    max-width: 300px;
  }

  .header-nav-item a {
    font-size: 9px;
    padding: 5px 9px;
  }

  .header-nav-item {
  transform: translateY(18px);
  }

}

@media (max-width: 320px) {
  .content {
    max-width: 285px;
  }

  .headimg {
    margin-top: -50px;
  }

  
  .header-nav {
  font-size: 8px;
  }
  
  .header-nav-item a {
  padding: 4px 8px;
  }

  button {
  margin-top: 5px;
  font-size: 10px;
  padding: 3px 10px;
  }

}