// Файл обнуления
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
   font-family: 'Poppins', sans-serif;
   // background: linear-gradient(90deg,#EDF7EC,#C4E5EE);
   background-color:#C4E5EE ;
   margin: 0;
   padding: 0;
}


main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
}

.container {
   max-width: 960px;
}
.content {
   background: linear-gradient(90deg,#FFFFFF,#E3FDF4);
   border-radius: 60px;
   box-sizing: border-box;
   position: relative;
   display: flex;
   flex-direction: column;
   max-width: 800px;
   margin-top: 65px;
   box-shadow: 10px 15px 45px rgba(0, 0, 0, 0.397);
   margin-left: 75px;
   margin-right: 85px;
}
.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   p:nth-child(1){
      font-size: 20px;
      font-weight: 500;
      color: #584840;
   }
   h1 {
      font-size: 45px;
      font-weight: 600;
      color: #665247;
   }
   p{
      font-size: 10px;
      line-height: 15px;
   }
}

.info-text{
   gap: 10px;
   margin-top: 45px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

button {
   margin-top: 25px;
   background-color: white;
   color: #665247;
   text-transform: uppercase;
   padding: 15px 40px;
   border: 1px solid #00000059;
   border-radius: 20px;
   font-weight: 700;
   transition-duration: 500ms;
   &:hover {
      background-color: rgb(240, 240, 240);
   }
}

.jungle {
  margin-bottom: -95px;
}
.bottom {
   position: relative;
   z-index: 2;
   pointer-events: none;
}

.headimg {   
   margin-top: -165px;
   margin-left: -70px;
   
}

.head {

}

.header {
   // background: linear-gradient(180deg,#57886b00,#598c71d0,#472b37,#472B37,#472B37,#472B37,#472B37,#472B37,#472B37);
   background: linear-gradient(180deg,#57886b00,#57A598,#57A598,#472B37,#472B37,#472B37,#472B37,#472B37,#472B37);
   padding: 15px;
   border-radius: 0px 0px 25px 25px;
}
.header-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 35px;
}
.header-nav-item {
   // background: linear-gradient(180deg,#57a5986b,#583941ab ,#583941 );
   z-index: 111;
   // background-color: #583941;
   // text-transform: uppercase;
   padding: 15px 0px;
   // // border: 1px solid #00000059;
   // border-radius: 10px;
   // font-weight: 400;
   // box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.397);
   a{
   color: white;
   background: linear-gradient(180deg,#57a5986b,#583941ab ,#583941 );
   z-index: 111;
   background-color: #583941;
   text-transform: uppercase;
   padding: 15px 30px;
   // border: 1px solid #00000059;
   border-radius: 10px;
   font-weight: 400;
   box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.397);
   transition-duration: 500ms;
   &:hover {
      background-color:#835661 ;
   }
   }


   // a{
   // background: linear-gradient(180deg,#57a59867,#583941ab ,#583941 );
   // color: #ffffff;
   // text-transform: uppercase;
   // padding: 15px 30px;
   // border: 1px solid #00000059;
   // border-radius: 20px;
   // font-weight: 400;
   // }
}


